body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

header {
	background-image: url('../backgrounds/hallofwarriors.jpg');
	background-position: center;
	background-size: cover;
	height: 850px;
	margin-top: -73px;
	margin-bottom: 20px;
}

.header-txt {
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 80px;
	line-height: 80px;
	padding-top: 340px;
}

.header-desc {
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 100;
	text-align: center;
	padding: 0px 10px 0px 10px;
}

.content-background {
	background-image: url('https://media.istockphoto.com/photos/paper-old-texture-background-picture-id954549046?k=6&m=954549046&s=612x612&w=0&h=c_Lyo7YXcJxti9y64W-sR9xXfh4nhOWDFpYbDqWCXzs=');
	background-position: center;
	background-size: cover;
	margin-top: -40px;
}

/* Individual */
.individuals {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
	max-width: 1000px;
	padding-bottom: 20px;
}

.people {
    flex: 0 0 23%;
    min-width: 225px;
    height: 325px;
    margin: 25px 5px 0;
    background-color: white;
    position: relative;
    backface-visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
	border: 2px solid black;
}

.people__img {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    object-position: center;
    transform-origin: center;
    transition: all 0.7s;
}

.people:hover .people__img {
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.people__div--name {
    background-color: rgba(255,255,255, 0.8);
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    max-width: 250px;
    line-height: 1.5;
    padding: 0 15px;
    transition: all 0.6s;
}

.people__name {
    font-family: sans-serif;
}

.people:hover .people__div--name {
    left: -130%;
}

.people-name {
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 24px;
    font-family: sans-serif;
}

.people__div--info {
    position: absolute;
    bottom: 5px;
    height: 40%;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    background-color: #fff;
    transition: all 0.4s;
}

.people:hover .people__div--info {
    opacity: 1;
    visibility: visible;
}

.team {
	color: black;
	font-size: 50px;
	text-align: center;
	font-family: sans-serif;
	padding-top: 50px;
}

.people__desc {
	font-family: sans-serif;
    font-weight: lighter;
	font-size: 14px;
}

/* MOBILE */
@media only screen and (max-width:1024px) {
  /* For tablets: */

  .header {
  	height: 800px;
  }
  .header-txt {
  	padding: 300px 60px 0px 60px;
  }
}

@media only screen and (max-width:700px) {
  /* For mobile phones: */
.header {
	height: 500px;
	margin-bottom: 0px;
}

.header-txt {
	font-size: 65px;
	line-height: 70px;
	padding-top: 280px;
    text-align: center;
}

.people {
    flex: 0 0 23%;
    min-width: 225px;
    height: 275px;
    margin: 15px 5px 0;
}}